<div
  class="d-flex flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5" style="background: #29bf12; flex-wrap: wrap;">
  <!-- Copyright -->
  <div class="text-white mb-3 mb-md-0">
    Copyright &copy; 2022 All rights reserved | Competency Group <b style="color:#e2e9ff;">CS OJT Students 2022</b>
  </div>
  <!-- Copyright -->
  
  <!-- Right -->
  <div class="m-md-0 m-sm-auto m-auto">
    <a href="#!" class="text-white me-4">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="#!" class="text-white me-4">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#!" class="text-white me-4">
      <i class="fab fa-google"></i>
    </a>
    <a href="#!" class="text-white">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
  <!-- Right -->
</div>