<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-sm-10 col-md-8 col-lg-10 col-xl-6">
          <form [formGroup]="forgotForm" (submit)="forgotPassword()">
            <div class="text-center">
              <p class="h1 fw-normal mb-0 me-3">Welcome to <b style="color: #29bf12">Competency</b></p>
            </div>
  
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center lead mx-3 mb-0">Forgot Password</p>
            </div>
  
            <!-- Email Address input -->
            <div class="form-outline mb-2">
                <div class="m-100">
                    <label class="col-4 form-label" for="form3Example3">Email Address</label>
                    <label class="col-8 error text-end" *ngIf="Email.errors?.['required'] && (Email.dirty)">
                      Email is required!
                    </label>
                    <label class="col-8 error text-end" *ngIf="Email.errors?.['email'] && (Email.dirty)">
                      Email is Invalid!
                    </label>
                </div>   
                <input class="form-control form-control-lg" 
                id="email" 
                type="text" 
                formControlName="email" 
                placeholder="Enter your email" required/>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-success btn-lg w-100" [disabled]="forgotForm.invalid"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Reset Password</button>
              <p class="text-center small fw-bold mt-2 pt-1 mb-0"><a (click)="navigateToLogin()" class="cancel">Cancel</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </section>