<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-sm-10 col-md-8 col-lg-10 col-xl-6">
          <form [formGroup]="resetForm" (ngSubmit)="resetSubmitted()">
            <div class="text-center">
              <p class="h1 fw-normal mb-0 me-3">Welcome to <b style="color: #29bf12">Competency</b></p>
            </div>
  
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center lead mx-3 mb-0">Reset Password</p>
            </div>

            <div [ngClass]="show?'':'hide'" class="input-box">
                <input class="input-text" id="token" type="password" formControlName="token" [(ngModel)]="token" required>
            </div> 
  
            <!-- Password input -->
            <div class="form-outline mb-2">
                <div class="m-100">
                    <label class="col-3 form-label" for="form3Example3">Password</label>
                    <label class="col-9 error text-end" *ngIf="Password.errors?.['required'] && (Password.dirty)">
                        Password is required!
                    </label>
                    <label class="col-9 error text-end" *ngIf="Password.errors?.['minlength'] && (Password.dirty)">
                        Password should be at least 6 characters!
                    </label>
                </div>   
                <input class="form-control form-control-lg" 
                id="password" 
                type="password" 
                formControlName="password" 
                placeholder="Enter new password" 
                maxlength="16" required/>
            </div>

            <!-- Confirm Password input -->
            <div class="form-outline mb-2">
                <div class="m-100">
                    <label class="col-4 form-label" for="form3Example3">Confirm Password</label>
                    <!-- <label class="col-8 error text-end" *ngIf="ConfirmPassword.errors?.['required'] && (ConfirmPassword.dirty)">
                        Confirm Password is required!
                    </label>
                    <label class="col-8 error text-end" *ngIf="ConfirmPassword.errors?.['minlength'] && (ConfirmPassword.dirty)">
                        Confirm Password should be at least 6 characters!
                    </label> -->
                    <label class="col-8 error text-end" *ngIf="confirmPassword() && (ConfirmPassword.dirty)">
                        Confirm Password and Password must match!
                    </label>
                </div>   
                <input class="form-control form-control-lg" id="confirmPassword" 
                type="password" 
                formControlName="confirmPassword" 
                placeholder="Confirm your password" 
                maxlength="16" required/>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-success btn-lg w-100" [disabled]="resetForm.invalid"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Reset</button>
              <p class="text-center small fw-bold mt-2 pt-1 mb-0"><a (click)="navigateToLogin()" class="cancel">Cancel</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </section>